@import 'open-props/normalize';
@import 'open-props/style';

html {
  background: var(--gray-7);
}

body {
  overflow: hidden;
  font-family: var(--font-sans);
  padding: var(--size-3);
}

/*
 * App colors
 */

.green { color: var(--green-5); }
.blue { color: var(--blue-5); }
.red { color: var(--red-5); }

/*
 * Table
 */

.header-row {
  background-color: var(--gray-5);
  text-transform: uppercase;
  color: var(--gray-0);
}

.subhead {
  background-color: var(--gray-8);
  font-size: var(--font-size-0);
  color: var(--gray-0);
}

tbody {
  background-color: var(--gray-1);
}

.underlined {
  border-bottom: var(--border-size-1) solid var(--gray-5);
  padding-block: var(--size-3);
}

.normalrow:hover {
  background-color: var(--gray-0);
}

/*
 * Code / summary views
 */

.code-view,
.summary-view,
.highlight pre {
  overflow: scroll;
}

.code-view,
.highlight pre {
  font-size: var(--font-size-0);
  font-family: var(--font-mono);
}

.code-view a,
.highlight a {
  text-decoration: none;
}

.code-view .pre {
  white-space: pre;
}

/* Scrollbar on left for Code View */
.code-view {
  direction: rtl;
}

.code-view > div {
  direction: ltr;
}

.code-view .selected {
  background: var(--yellow-3);
  padding: var(--size-1);
}
